<!DOCTYPE html>
<html land="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Employees List</title>
</head>
<body>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Current On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${employees.empty}">
                <td colspan="2"> No Employees Available </td>
            </tr>
            <tr th:each="employee : ${employees}">
                <td><span th:text="${employee.id}"> Id </span></td>
                <td><span th:text="${employee.login}"> Login </span></td>
                <td><span th:text="${employee.firstName}"> First Name </span></td>
                <td><span th:text="${employee.lastName}"> Last Name </span></td>
                <td><span th:text="${employee.currentOn}"> Current On </span></td>
                <td>
                    <form method="POST" th:action="@{/app/setOnSite}">
                        <input type="hidden" name="login" id="login" th:value="${employee.login}" />
                        <button type="submit" name="submit" value="login" class="btn btn-primary btn-sm">Set OnSite</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>