<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head></head>
<body>
<h1>Login</h1>
<form name='f' th:action="@{/login}" method='POST'>
    <fieldset>
        <div th:if="${param.error}" class="alert alert-error">
            Invalid username or passowrd.
        </div>
        <table>
            <tr>
                <td>Username:</td>
                <td><input type='text' id="username" name='username' placeholder="Username"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type='password' id="password" name='password' placeholder="Password"/></td>
            </tr>
            <tr>
                <td><button type="submit">Log in</button></td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>